.jumbotron {
    width: 100%;
    height: 230px;
    h1{
        text-align: center;
        line-height: 270px;
        font-size: 37px;
        flex-wrap: wrap;
    }
}
.filter-bar {
    padding: 10px 50px;
}